<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="AppOffice" connectionString="Data Source=(local);Initial Catalog=AppOffice;Integrated Security=True;Connect Timeout=15"/>
      <add name="E7HR" connectionString="Data Source=192.168.100.202;Initial Catalog=E7HR;User ID=sa;Pwd=hxyhr123;Connect Timeout=15"/>
      <add name="HxyReport" connectionString="Data Source=.;Initial Catalog=HxyReport;Integrated Security=True;Connect Timeout=15" />
    </connectionStrings>
</configuration>